.categorize-button {
  position: relative;
  top: $categorize-button-height - ($categorize-button-padding * 2);
  transform: rotate(270deg);
  height: $categorize-button-height;
  display: inline-block;
  font-weight: bold;
  font-size: 125%;
  cursor: pointer;
  padding: $categorize-button-padding;
  border: 1px solid black;
  border-top-left-radius: 10px;
}
