.category-pullout {
  position: absolute;
  background-color: #fff;
  z-index: 11;
}

.category-pullout-in {
  @extend .category-pullout;
  right: ($categorize-button-height - ($categorize-button-padding * 2)) * -1;
}

.category-pullout-out {
  @extend .category-pullout;
  left: 100% - $pullout-width;
  width: $pullout-width;
}
